.features {
  padding-top: 80px;
  padding-bottom: 80px;
}

.features__title-wrapper {
  text-align: center;
}

.features__title {
  margin: 0;
  margin-bottom: 10px;

  font-family: "Pacifico", "Palatino", serif;
  font-size: 70px;
  line-height: 80px;
}

.features__subtitle {
  margin-bottom: 20px;
}

.features__list {
  margin: 0;
  padding: 0;
  padding-top: 50px;

  text-align: center;
  list-style: none;
}

.features__item {
  width: 300px;

  outline: none;
}

.features__item-title {
  width: 190px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 28px;

  opacity: 0.8;
}

.features__image {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.features__text-wrapper {
  width: 290px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.features__text-wrapper {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .features__title {
    font-size: 30px;
    line-height: 40px;
  }
}


@media (max-width: 320px) {
  .features__text-wrapper {
    padding-left: 10px;
    padding-right: 10px;

    font-size: 12px;
  }
  .features__image {
    width: 180px;
  }

  .features__item-title {
    font-size: 18px;
  }
}
